[*.cs]

# CA2211: Nicht konstante Felder dürfen nicht sichtbar sein
dotnet_diagnostic.CA2211.severity = none

# CA1717: Nur FlagsAttribute-Enumerationen dürfen Pluralnamen aufweisen
dotnet_diagnostic.CA1717.severity = none

# CA1716: Bezeichner dürfen nicht mit Schlüsselwörtern übereinstimmen
dotnet_diagnostic.CA1716.severity = silent

# CA1031: Keine allgemeinen Ausnahmetypen abfangen
dotnet_diagnostic.CA1031.severity = suggestion

# IDE0058: Der Ausdruckswert wird niemals verwendet.
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# CA1303: Literale nicht als lokalisierte Parameter übergeben
dotnet_diagnostic.CA1303.severity = none

# CA1052: Statische Containertypen müssen "Static" oder "NotInheritable" sein.
dotnet_diagnostic.CA1052.severity = none
